[init]
    defaultBranch = main
[user]
    email = animeshsahu19@yahoo.com
    name = Animesh Sahu
    signingkey = 541C03D55917185E
[core]
    editor = nvim
	symlinks = true
[pager]
    diff = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[commit]
	gpgsign = true
[alias]
	stash-keep = !git stash store $(git stash create)
	webui = !/home/animesh/.git-webui/release/libexec/git-core/git-webui
