// =============== Colors ===============

$color0:               #1E1E2E;
$color1:               #f38ba8;
$color2:               #7fe173;
$color3:               #f9e2af;
$color4:               #89b4fa;
$color5:               #cba6f7;
$color6:               #bed6ff;
$color7:               #cdd6f4;
$widget_bg:            transparent;

.black {
  color: $color0;
}
.red {
  color: $color1;
}
.green {
  color: $color2;
}
.yellow {
  color: $color3;
}
.blue {
  color: $color4;
}
.magenta {
  color: $color5;
}
.cyan {
  color: $color6;
}
.white {
  color: $color7;
}
.separator {
  color: #666666;
}


// =============== Global Styles ===============

* {
  all: unset;
  min-height: 44px;
  font-family: "CaskaydiaCove Nerd Font", "Phosphor";
}

.topbar > * {   // https://github.com/elkowar/eww/issues/497#issuecomment-1197040374
  background-color: $color0;
  font-size: 18px;
  padding: 0 15px;
}


// =============== Styles on classes ===============

.apps {
  background-color: $widget_bg;

  & > .app {
    // padding: 0 5px 0 2px;

    &:nth-child(3n+1) {
      color: #f9de8f;
    }
    &:nth-child(3n+2) {
      color: #ff9b93;
    }
    &:nth-child(3n+3) {
      color: #95e1d3;
    }
    &:last-child {
      // padding-right: 3;
    }
  }
}

.workspaces {
  background-color: $widget_bg;
  // margin: 10px 0 10px 0;

  border-radius: 5px;

  & > .workspace {
    padding: 0 7px 0 7px;
    &.active {
      border-bottom: 1px solid;
      // box-shadow: inset 0px 0px 0px 1px;
    }

    &:nth-child(5n+1) {
      color: $color5;
    }
    &:nth-child(5n+2) {
      color: $color2;
    }
    &:nth-child(5n+3) {
      color: $color6;
    }
    &:nth-child(5n+4) {
      color: $color4;
    }
    &:nth-child(5n+5) {
      color: $color3;
    }
  }
}

.widget-group {
  // margin: 5px 0 5px 0;
  // padding: 0 10px 0 10px;
  border-radius: 5px;
  background-color: $widget_bg;
}

